@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	min-height: 100vh;
	display: grid;
	place-items: center;
}

.container {
	width: 60vmin;
	height: 60vmin;
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-template-rows: repeat(3, 33%);
	-webkit-tap-highlight-color: transparent;
	background-image: url("bg-board.svg");
	background-size: 100% 100%;
}

.children {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	cursor: pointer;
	padding: 0.8rem;
	background-color: transparent;
	border: none;
}

.children:focus-visible {
	outline: 2px solid red;
}

/* .element {
	line-height: 0.9;
	user-select: none;
} */

.card {
	position: absolute;
	background-color: #e4e4e4;
	padding: 1rem 1.5rem;
	border-radius: .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transform: translateY(-100vh);
	transition: transform 0.5s ease-out;
}

.reload, .desc {
	margin: .6rem;
}

.reload {
	padding: .3rem .6rem;
	background-color: #45EBA5;
	border: none;
	border-radius: .5rem;
	cursor: pointer;
	width: 100%;
}

circle {
	fill: transparent;
	stroke-width: 15px;
	stroke-dasharray: 471;
	stroke-dashoffset: 471;
	animation: clock-animation .9s ease-out forwards;
	transform-origin: center;
	transform: rotate(-90deg);
}

@keyframes clock-animation {
	to {
		stroke-dashoffset: 0;
	}
}

line {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: dash .9s ease-out forwards;
}

.line-2 {
	animation-delay: 0.2s;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}